*{
    padding: 0;
    margin: 0;
    --primary-color: rgba(213, 0, 0, 0.6);
    --red-color: rgb(213, 0, 0);
    --white: #fff;
    --black: #000;
    --grey: #ebe9eb;
    --dark-grey: #999999;
    --musky-grey: #555555;
    --transparent-black: rgba(0, 0, 0, 0.4);
    --hover-black: rgba(0, 0, 0, 0.7);
}

body{
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 16px;
}
.bg-img{
    position: relative;
}
.bg-img img{
    width: 100%;
}

.container{
    width: 1170px;
    margin: 0 auto;
}

.gap-section{
    margin: 70px;
}

.primary-nav{
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

.inner-primary-nav{
    display: flex;
    justify-content: space-between;
}

.inner-primary-nav ul.social-bar{
    display: flex;
    list-style-type: none;
}

.inner-primary-nav ul{
    display: flex;
    list-style-type: none;
}

.inner-primary-nav ul li{
    padding: 12px;
}

.inner-primary-nav ul li a{
    text-decoration: none;
    color: var(--white);
    font-size: 14px;
    transition: transform 0.3s;
}

.inner-primary-nav ul li a:hover{
    color: var(--black);
}

.inner-primary-nav ul.social-bar li a span{
    -webkit-transition: width 2s, -webkit-transform 2s;
}

.inner-primary-nav ul.social-bar li a span:hover{
    color: var(--black);
    display: inline-block;
    -webkit-transform: rotateY(-360deg);
}

.icon-pie-chart{
    padding: 8px;
}

.main-nav{
    background-color: var(--transparent-black);
    position: absolute;
    top: 48px;
    right: 0;
    left: 0;
}

.inner-main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-main-nav ul{
    display: flex;
    list-style-type: none;
}

.inner-main-nav ul li{
    margin: 0 6px;
}

.inner-main-nav ul li:last-child{
    margin-right: 0;
}

.inner-main-nav ul li a{
    text-decoration: none;
    color: var(--white);
    padding: 6px 12px;
    -webkit-transition: all .2s ease-in-out;
}

.inner-main-nav ul li:nth-child(-n+6) a:hover{
    background-color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 6px;
}

.logo-img img{
    width: 150px;
    padding: 12px;
}

.active{
    background-color: var(--primary-color);
    padding: 6px 12px;
    border-radius: 6px;
}

.header-img-text{
    position: absolute;
    text-align: center;
    top: 35%;
    left: 60%;
    transform: translate(-60px, -20px)
    
}

.header-img-text h3{
    color: var(--white);
    width: 100%;
    font-weight: 400;
}

.text-align-1{
    font-size: 90px;
}

.text-align-2{
    font-size: 97px;
}


.header-img-text a{
    display: inline-block;
    text-decoration: none;
    color: var(--white);
    background-color: var(--red-color);
    padding: 8px 35px;
    margin: 20px;
    border-radius: 6px;
    -webkit-transition: all .2s ease-in-out;
}

.header-img-text a:hover{
    background-color: var(--white);
    color: var(--red-color);
}

.main-content{
    text-align: center;
}

.content-heading{
    color: var(--red-color);
    font-size: 40px;
    font-weight: 100;
    padding: 20px;
    margin: 20px;
}

.content-heading div{
    display: inline-block;
}

.line-side-solo{
   background-color: var(--grey);
   width: 30px;
   font-size: 0;
   height: 4px;
   margin: 0 0 30px 0;
   display: inline-block;
   vertical-align: middle;
}

.menu-products{
    display: flex;
}

.product{
    position: relative;
    margin: 12px;
    height: 100%;
}


.img-link{
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.img-link img{
    width: 100%; 
    display: block;
    border-radius: 5px;
}

.img-link h3{
    position: absolute;
    font-family: 'Anton', sans-serif;
    font-weight: 100;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white); 
    z-index: +1;
    transition: opacity 0.2s ease; 
}

.overlay-shadow{
    position: absolute;
    background-color: var(--transparent-black);
    inset: 0;
    transition: background-color 0.3s;
    border-radius: 5px;
    
}

.product:hover div.overlay-shadow{
    background-color: var(--hover-black);
} 

.product:hover h3{
    opacity: 0;
}

.overlay-hover{
    position: absolute;
    inset: 0;
    opacity: 0;
    border-radius: 5px;
    background-color: var(--hover-black);
}

.overlay-hover p{
    position: absolute;
    top: 50%;
    color: var(--white);
    font-size: 18px;
    font-family: Open Sans;
    left: 50%;
    transform: translate(-50%, -50%);
}

.diamond{
    position: absolute;
    width: 134px;
    height: 134px;
    border: 1px solid var(--white);
    top: 65%;
    left: 25%;
    transform: translate(-50%, -50%);
    rotate: 45deg;
    scale: 0;
    transition: scale 0.5s;
}

.product:hover .diamond{
    scale: 1;
}

.product:hover .overlay-hover{
    opacity: 1;
    transition: all 0.5s;
}
  

.ad-section{
    position: relative;
}

.ad-section img{
    width: 100%;
}

.ad-content{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: var(--red-color);
}

.ad-content h2.left-movement{
    font-weight: 100;
    font-size: 50px;
    animation: scrollTextLeft 2s linear infinite;
}

@keyframes scrollTextLeft {
    0% {
        transform: translateX(0);
      }
      
      50% {
        transform: translateX(-25%);
      }
      
}

.ad-content h2.right-movement{
    font-weight: 100;
    font-size: 50px;
    animation: scrollTextRight 2s linear infinite;
}

@keyframes scrollTextRight {
    0% {
        transform: translateX(0);
      }
      
      50% {
        transform: translateX(25%);
      }
      
}

.ad-content h5{
    color: var(--dark-grey);
    font-size: 16px;
    font-family: Open Sans;
    margin: 10px;
}

.ad-content a{
    text-decoration: none;
    display: inline-block;
    color: var(--white);
    background-color: var(--red-color);
    margin: 30px;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 13px;
    font-family: Open Sans;
    position: relative;
}

.red-stripe{
    position: absolute;
    z-index: 1;
    padding: 20px;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--red-color);
}

.red-stripe h5{
    font-weight: 100;
    font-size: 25px;
    color: var(--white);
}

.pizza-section{
    display: flex;
}

.pizza-pic{
    width: 50%;
}
.pizza-pic img{
    width: 100%;
}

.pizza-menu{
    width: 50%;
}

.pizza-heading{
    align-items: center;
}

.pizza-heading h2{
    color: var(--red-color);
    margin: 20px;
    font-size: 40px;
}

.pizza-products{
    text-align: left;
    margin: 20px;
}



.pizza-products ul li{
    list-style-type: none;
    display: flex;
    padding: 5px;
    font-size: 20px;
    margin: 20px;
    color: var(--musky-grey);
    line-height: 1em;
    position: relative;
}

.pizza-products ul li::after{
    display: block;
    float: right;
    position: absolute;
    left: 30%;
    margin-top: .8em; 
    border-top: 2px dotted var(--grey);
    width: 70%;
    content: "";
}


